<p id="notice"><%= notice %></p>

<h1>Listing Forum Replies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Forum thread</th>
      <th>Forum reply</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_replies.each do |forum_reply| %>
      <tr>
        <td><%= forum_reply.title %></td>
        <td><%= forum_reply.status %></td>
        <td><%= forum_reply.forum_thread.id %></td>
        <td><%= forum_reply.forum_reply.id unless forum_reply.forum_reply.nil?  %></td>
        <td><%= link_to 'Show', forum_thread_forum_reply_path(forum_reply.forum_thread, forum_reply) %></td>
        <td><%= link_to 'Edit', edit_forum_thread_forum_reply_path(forum_reply.forum_thread, forum_reply) %></td>
        <td><%= link_to 'Destroy', forum_thread_forum_reply_path(forum_reply.forum_thread, forum_reply), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum reply', new_forum_thread_forum_reply_path %>
