<p id="notice"><%= notice %></p>

<h1><%= t('topic.action.index') %></h1>
<%= link_to t('topic.action.new'), new_topic_path %>

<ul>
<% @topics.each do |t| %>
    <%= render partial: "item", collection: [t], as: :topic %>
<% end %>
</ul>

<%= pagination(@total, @limit, @page) %>