<p id="notice"><%= notice %></p>

<p>
  <br>
  <strong><%= t('helpers.label.topic.description') %>:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong><%= t('helpers.label.topic.status') %>:</strong>
  <%= @topic.status %>
</p>

<% unless @topic.topic.nil? %>
<p>
  <strong><%= t('helpers.label.topic.topic') %>:</strong>
  <%= @topic.topic.description %>
</p>
<% end %>

<%= link_to t('application.action.back'), topics_path %>
