<p id="notice"><%= notice %></p>

<h1><%= t('black_list.title.index') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('helpers.label.black_list.word') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @black_lists.each do |black_list| %>
      <tr>
        <td><%= black_list.word %></td>
        <td><%= link_to t('black_list.action.show'), black_list %></td>
        <td><%= link_to t('black_list.action.update'), edit_black_list_path(black_list) %></td>
        <td><%= link_to t('black_list.action.destroy'), black_list, method: :delete, data: { confirm: t('black_list.label.destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('black_list.action.new'), new_black_list_path %>
