<p id="notice"><%= notice %></p>

<h1>Listing Forum Threads</h1>

<%= link_to 'New Forum thread', new_forum_thread_path %>

<ul>
  <% @forum_threads.each do |forum_thread| %>
  <li>
    <%= forum_thread.title %> <%= link_to 'Reply', new_forum_thread_forum_reply_path(forum_thread) %>
    <%= render partial: "forum_replies/index", collection: [forum_thread.forum_replies], as: :forum_replies unless forum_thread.forum_replies.nil? %>
    <%#= link_to 'Show', forum_thread %>
    <%#= link_to 'Edit', edit_forum_thread_path(forum_thread) %>
    <%#= link_to 'Destroy', forum_thread, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>
