<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<dl>
  <dt><%= t('application.menu.description') %></dt>
  <dd><%= link_to t('application.menu.black_list'), black_lists_url %></dd>
  <dd><%= link_to t('application.menu.topic'), topics_url %></dd>
</dl>

<%= yield %>

</body>
</html>
